# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/.yarn/install-state.gz
/backend/node_modules

# testing
/frontend/coverage
/backend/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build
/backend/dist

# misc
/frontend/.DS_Store
/frontend/*.pem
/backend/.DS_Store
/backend/*.pem

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*

# local env files
/frontend/.env*.local
/backend/.env*.local

# vercel
/frontend/.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts
/backend/*.tsbuildinfo
/backend/tsconfig.json

